.hidden {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.list span {
  margin: 0.3rem;
  border-bottom: 1px solid green;
  width: 100%;
  text-align: center;
}

.list span ul {
  list-style: none;
}

.active p {
  margin: 1rem;
}
